img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    animation: animacaoImagem 5s linear infinite;
}

@keyframes animacaoImagem {
    0% {
        width: 200px;
    }

    50% {
        width: 1300px;
        filter: hue-rotate(900deg);
    }

    100% {
        width: 200px;
    }
}

